@import "theme";
@import "spinner";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f5f7f9;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2)
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08)
}
