<mat-toolbar color="primary">
  <img class="toolbar-logo" src="https://firebase.google.com/_static/images/firebase/touchicon-180.png">
  <h1>+</h1>
  <img class="toolbar-logo" src="https://angular.io/assets/images/logos/angular/angular.png">

  <span class="toolbar-filler"></span>

  <button *ngIf="!authService.user" mat-raised-button color="accent" (click)="signIn()">SIGN IN</button>
  <button *ngIf="authService.user" mat-raised-button color="accent" (click)="signOut()">SIGN OUT</button>

</mat-toolbar>

<div *ngIf="!authService.user" class="user-info">
  <p>Press the sign in button</p>
</div>

<div *ngIf="authService.user" class="user-info">
  <img src="{{ authService.user.avatar }}">
  <p>{{ authService.user.name }}</p>
  <p>{{ authService.user.email }}</p>
</div>
