mat-toolbar {
  .toolbar-logo {
    height: 50px;
  }

  .toolbar-filler {
    flex: 1 1 auto;
  }
}

.user-info {

  margin-top: 50px;
  text-align: center;

  font-size: large;

  img {

    width: 200px;
    border-radius: 50%;

    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.20);
  }
}
